:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #050505;
  color: #f3f4f6;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}